<?php

namespace AmazonPHP\SellingPartner\Api\GetOrderApi;

use AmazonPHP\SellingPartner\AccessToken;
use AmazonPHP\SellingPartner\Exception\ApiException;
use AmazonPHP\SellingPartner\Exception\InvalidArgumentException;
use Psr\Http\Message\RequestInterface;

/**
* The Selling Partner API for Orders
*
* The Selling Partner API for Orders returns orders information. This API supports the following types of orders:  - FBM (Fulfilled by Merchant) - FBA (Fulfilled by Amazon) - read only - Amazon Fresh  This API does not display order data that is more than two years old, except in the JP, AU, and SG marketplaces, for which data from 2016 and after is available.
*
* The version of the OpenAPI document: 2026-01-01
*
* This class was auto-generated by https://openapi-generator.tech
* Do not change it, it will be overwritten with next execution of /bin/generate.sh*/
interface OrdersV2026SDKInterface
{
    public const API_NAME = 'OrdersV2026';

    public const OPERATION_GETORDER = 'getOrder';

    public const OPERATION_GETORDER_PATH = '/orders/2026-01-01/orders/{orderId}';

    /**
     * Operation getOrder
     *
     * @param string $order_id  An Amazon-defined order identifier. (required)
     * @param string[]|null $included_data  A list of datasets to include in the response. (optional)
     *
     * @throws ApiException on non-2xx response
     * @throws InvalidArgumentException
     * @return \AmazonPHP\SellingPartner\Model\OrdersV2026\GetOrderResponse
     */
    public function getOrder(AccessToken $accessToken, string $region, $order_id, $included_data = null);
}
