<?php

namespace AmazonPHP\SellingPartner\Api\SearchOrdersApi;

use AmazonPHP\SellingPartner\AccessToken;
use AmazonPHP\SellingPartner\Exception\ApiException;
use AmazonPHP\SellingPartner\Exception\InvalidArgumentException;
use Psr\Http\Message\RequestInterface;

/**
* The Selling Partner API for Orders
*
* The Selling Partner API for Orders returns orders information. This API supports the following types of orders:  - FBM (Fulfilled by Merchant) - FBA (Fulfilled by Amazon) - read only - Amazon Fresh  This API does not display order data that is more than two years old, except in the JP, AU, and SG marketplaces, for which data from 2016 and after is available.
*
* The version of the OpenAPI document: 2026-01-01
*
* This class was auto-generated by https://openapi-generator.tech
* Do not change it, it will be overwritten with next execution of /bin/generate.sh*/
interface OrdersV2026SDKInterface
{
    public const API_NAME = 'OrdersV2026';

    public const OPERATION_SEARCHORDERS = 'searchOrders';

    public const OPERATION_SEARCHORDERS_PATH = '/orders/2026-01-01/orders';

    /**
     * Operation searchOrders
     *
     * @param \DateTimeInterface|null $created_after  The response includes orders created at or after this time. The date must be in [ISO 8601](https://developer-docs.amazon.com/sp-api/docs/iso-8601) format.  **Note**: You must provide exactly one of &#x60;createdAfter&#x60; and &#x60;lastUpdatedAfter&#x60; in your request. If &#x60;createdAfter&#x60; is provided, neither &#x60;lastUpdatedAfter&#x60; nor &#x60;lastUpdatedBefore&#x60; may be provided. (optional)
     * @param \DateTimeInterface|null $created_before  The response includes orders created at or before this time. The date must be in [ISO 8601](https://developer-docs.amazon.com/sp-api/docs/iso-8601) format.  **Note**: If you include &#x60;createdAfter&#x60; in the request, &#x60;createdBefore&#x60; is optional, and if provided must be equal to or after the &#x60;createdAfter&#x60; date and at least two minutes before the time of the request. If &#x60;createdBefore&#x60; is provided, neither &#x60;lastUpdatedAfter&#x60; nor &#x60;lastUpdatedBefore&#x60; may be provided. (optional)
     * @param \DateTimeInterface|null $last_updated_after  The response includes orders updated at or after this time. An update is defined as any change made by Amazon or by the seller, including an update to the order status. The date must be in [ISO 8601](https://developer-docs.amazon.com/sp-api/docs/iso-8601) format.  **Note**: You must provide exactly one of &#x60;createdAfter&#x60; and &#x60;lastUpdatedAfter&#x60;. If &#x60;lastUpdatedAfter&#x60; is provided, neither &#x60;createdAfter&#x60; nor &#x60;createdBefore&#x60; may be provided. (optional)
     * @param \DateTimeInterface|null $last_updated_before  The response includes orders updated at or before this time. An update is defined as any change made by Amazon or by the seller, including an update to the order status. The date must be in [ISO 8601](https://developer-docs.amazon.com/sp-api/docs/iso-8601) format.  **Note**: If you include &#x60;lastUpdatedAfter&#x60; in the request, &#x60;lastUpdatedBefore&#x60; is optional, and if provided must be equal to or after the &#x60;lastUpdatedAfter&#x60; date and at least two minutes before the time of the request. If &#x60;lastUpdatedBefore&#x60; is provided, neither &#x60;createdAfter&#x60; nor &#x60;createdBefore&#x60; may be provided. (optional)
     * @param string[]|null $fulfillment_statuses  A list of &#x60;FulfillmentStatus&#x60; values you can use to filter the results. (optional)
     * @param string[]|null $marketplace_ids  The response includes orders that were placed in marketplaces you include in this list.  Refer to [Marketplace IDs](https://developer-docs.amazon.com/sp-api/docs/marketplace-ids) for a complete list of &#x60;marketplaceId&#x60; values. (optional)
     * @param string[]|null $fulfilled_by  The response includes orders that are fulfilled by the parties that you include in this list. (optional)
     * @param int|null $max_results_per_page  The maximum number of orders that can be returned per page. The value must be between 1 and 100. **Default:** 100. (optional)
     * @param string|null $pagination_token  Pagination occurs when a request produces a response that exceeds the &#x60;maxResultsPerPage&#x60;. This means that the response is divided into individual pages. To retrieve the next page, you must pass the &#x60;nextToken&#x60; value as the &#x60;paginationToken&#x60; query parameter in the next request. You will not receive a &#x60;nextToken&#x60; value on the last page. (optional)
     * @param string[]|null $included_data  A list of datasets to include in the response. (optional)
     *
     * @throws ApiException on non-2xx response
     * @throws InvalidArgumentException
     * @return \AmazonPHP\SellingPartner\Model\OrdersV2026\SearchOrdersResponse
     */
    public function searchOrders(AccessToken $accessToken, string $region, $created_after = null, $created_before = null, $last_updated_after = null, $last_updated_before = null, $fulfillment_statuses = null, $marketplace_ids = null, $fulfilled_by = null, $max_results_per_page = null, $pagination_token = null, $included_data = null);
}
